RewriteEngine On
# Redirect www to non-www and force HTTPS
RewriteCond %{HTTP_HOST} ^www\.baydarandbaydar\.com [NC,OR]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://baydarandbaydar.com/$1 [L,R=301]

# Ensure no additional redirects are present
RewriteCond %{REQUEST_URI} !^/$
RewriteRule ^home$ / [L,R=301]

# Canonical URL enforcement
RewriteCond %{REQUEST_URI} !^/index\.html$
RewriteRule ^index\.html$ / [L,R=301]

# Ensure sitemap is accessible
RewriteRule ^sitemap\.xml$ /public/sitemap.xml [L]
