.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--container-padding-mobile);

  @include tablet-up {
    padding: 0 var(--container-padding-tablet);
  }

  @include large-up {
    padding: 0 var(--container-padding-desktop);
  }

  &--sm {
    max-width: var(--container-sm);
  }

  &--md {
    max-width: var(--container-md);
  }

  &--lg {
    max-width: var(--container-lg);
  }

  &--xl {
    max-width: var(--container-xl);
  }

  &--2xl {
    max-width: var(--container-2xl);
  }

  &--full {
    max-width: none;
    padding: 0;
  }
}
